.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	display: block;
	background-color: rgb(234, 234, 234);
	padding-left:0px;
	padding-right:0px;
}

.content {
	padding-top:25px;
	padding-left:50px;
	margin-left:16%;
}

/* stop the glowing blue shadow 

.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

*/