<h1>{{ definition.title }}</h1>
<h3>Описание</h3>
{{ definition.description }}
<h3>Содержат:</h3>
<ul>
    {% for object in useWhat %}
		{% if object.type == 'Definition' %}
			<li><a href="{% url 'definition' object.id %}">{{ object.title }}</a></li>
		{% else %}
			<li><a href="{% url 'theorem' object.id %}">{{ object.title }}</a></li>
		{% endif %}
    {% endfor %}
 </ul>
<h3>Содержаться в:</h3>
<ul>
    {% for object in usedIn %}
		{% if object.type == 'Definition' %}
			<li><a href="{% url 'definition' object.id %}">{{ object.title }}</a></li>
		{% else %}
			<li><a href="{% url 'theorem' object.id %}">{{ object.title }}</a></li>
		{% endif %}
    {% endfor %}
 </ul>