{% if entity_list %}
	<b>Список всех теорем<b>:
    <ul>
    {% for entity in entity_list %}
		{% if entity.type == "Theorem" %}
			<li><a href="{{ entity.id }}/">{{ entity.name }}</a></li>
		{% endif %}
    {% endfor %}
    </ul>
	<b>Список всех определений<b>:
    <ul>
    {% for entity in entity_list %}
		{% if entity.type == "Definition" %}
			<li><a href="{{ entity.id }}/">{{ entity.name }}</a></li>
		{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>Ваша база данныз пуста. Заполните её.(</p>
{% endif %}