{% load staticfiles %}
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'lib/bootstrap.min.js' %}"></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'lib/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- Я так понял, что это поиск-->
    <script src="{% static "lib/jquery-2.0.0.min.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
    <!-- Для графа -->
    <script src="{% static 'lib/d3.v3.min.js' %}"></script>
	<script src="{% static 'js/graph.js' %}"></script>