{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>Редактирование сущности</h1>
</div>

<!-- panel start -->
<div class="panel panel-default">
    <div class="panel-heading">
      <h3><b>Редактировать сущность</b></h3>
    </div>
       
    <div class="panel-body">

    <form class="form-horizontal row-border" method="post">{% csrf_token %}

      <div class="form-group">
        <label class="col-md-2 control-label">Тип сушности</label>
        <div class="col-md-10">
            <input  class="form-control" name="entityType" id="entityType" type="text" value= "{{entity.type}}" disabled="disabled">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Название сущности</label>
        <div class="col-md-10">
          <input  class="form-control" name="entityName" id="entityName" type="text"  value= "{{entity.name}}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Описание сушности</label>
        <div class="col-md-10">
          <textarea class="form-control"  name="entityDescription" id="entityDescription" rows=5>{{entity.description}}</textarea>
        </div>
      </div> 

      
        <button type="submit" class="btn btn-primary btn-lg active">Save</button>
        <a href="{% url 'entity' entity.id %}" ><button type="button" class="btn btn-default btn-lg active">Cancel</button></a>
      

    </form>
  </div>
</div><!-- panel finish -->
 
 {% endblock %}
 
