{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  	<h1>Информация о сущности</h1>
</div>

<div class="btn-group" role="group" aria-label="...">
  	<a href="{% url 'entityAdd'%}" ><button type="button" class="btn btn-default">Add</button></a>
  	<a href="{% url 'entityUpdate' entity.id %}" ><button type="button" class="btn btn-default">Update</button></a>
</div>

	<!-- panel start -->
<div class="panel panel-default">
    <div class="panel-heading">
    	<p ><h3>{{ entity.name }}</h3></p>
  	</div>
       
    <div class="panel-body">
        <form class="form-horizontal row-border">

            <div class="form-group">
            	<label class="col-md-2 control-label">Название</label>
            	<div class="col-md-10">
                	<div class="alert alert-success">
                		{{ entity.name }}
                	</div>
              	</div>
            </div>

            <div class="form-group">
            	<label class="col-md-2 control-label">Тип сушности</label>
            	<div class="col-md-10">
                	<div class="alert alert-success">
                		{{ entity.type }}
                	</div>
              	</div>
            </div>

            <div class="form-group">
            	<label class="col-md-2 control-label">Описание сушности</label>
            	<div class="col-md-10">
                	<div class="alert alert-success">
                		{{ entity.description }}
                	</div>
              	</div>
            </div>

        </form>
    </div>
</div>
<!-- panel end -->

<div class="page-header">
  	<h3>Граф связей сущности<small>(сущность выделена красным)</small></h3>
</div>
{%include 'ontologySite/graph.html'%}

 {% endblock %}
 
