{% extends 'base.html' %}

{% block content %}
<!--	
<div class="btn-group" role="group" aria-label="...">
  	<a href="{% url 'entity' entity.id %}" ><button type="button" class="btn btn-default">Cancel</button></a>
  	<a href="{% url 'entity' entity.id %}" ><button type="button" class="btn btn-default">Save</button></a>
</div>

	
<div class="well" id="redactionForm">
	<form>
		<div class="form-heading">
			<h3><b>Редактировать сущность</b></h3>
		</div>
		<div class="form-group">
	    	<label for="entityTupe">Тип сушности</label>
	    	<input class="form-control" id="entityTupe" type="text" value= "{{entity.type}}">
	  	</div>
		<div class="form-group">
	    	<label for="entityName">Название сущности</label>
	    	<input class="form-control" id="entityName" type="text" value= "{{entity.name}}">
	  	</div>
	  	<div class="form-group">
	    	<label for="entityDescription">Описание сущности</label>
	    	<input class="form-control" id="entityDescription" type="text" value= "{{entity.description}}" rows=5>
	  	</div>      
	</form>
</div>
-->
<div class="page-header">
    <h1>Редактирование сущности</h1>
</div>

<div class="btn-group" role="group" aria-label="...">
	<a href="{% url 'entityUpdate' entity.id %}" ><button type="button" class="btn btn-default">Save</button></a>
  <a href="{% url 'entity' entity.id %}" ><button type="button" class="btn btn-default">Cancel</button></a>
</div>

<!-- panel start -->
<div class="panel panel-default">
    <div class="panel-heading">
    	<h3><b>Редактировать сущность</b></h3>
  	</div>
       
    <div class="panel-body">
        <form class="form-horizontal row-border">
            <div class="form-group">
            	<label class="col-md-2 control-label">Тип сушности</label>
            	<div class="col-md-10">
                	<input class="form-control" id="entityTupe" type="text" disabled="disabled" value= "{{entity.type}}">
              	</div>
            </div>
            <div class="form-group">
            	<label class="col-md-2 control-label">Название сущности</label>
            	<div class="col-md-10">
                	<input class="form-control" id="entityName" type="text" value= "{{entity.name}}">
              	</div>
            </div> 
            <div class="form-group">
            	<label class="col-md-2 control-label">Описание сушности</label>
            	<div class="col-md-10">
                <textarea class="form-control" id="entityDescription" rows=5>
                  {{entity.description}}
                </textarea>
              </div>
            </div> 
        </form>
    </div>
</div>
 <!-- panel end -->


 
 {% endblock %}
 
