{% load staticfiles %}

<script> 
var Name = [], Id = [], Score = []

{% for entity in entitiesList %}
        Name.push('{{ entity.name }}');
        Id.push({{ entity.id }});
        Score.push({{ entity.score }});
{% endfor %};

var ChildrenId = [
{% for entity in entitiesList %}
    [{% for children in entity.childrens %}
        {{ children.id }},  
    {% endfor %}],
{% endfor %}];
</script>

<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
