{% extends 'base.html' %}

{% block content %}
	<div class="page-header">
  		<h1>Math ontology </h1>
	</div>

	{% if entitiesList %}
		<b>Список всех теорем</b>:
	    <ul>
	    {% for entity in entitiesList %}
			{% if entity.type == "Theorem" %}
				<li><a href="{% url 'entity' entity.id %}">{{ entity.name }}</a></li>
			{% endif %}
	    {% endfor %}
	    </ul>
		<b>Список всех определений</b>:
	    <ul>
	    {% for entity in entitiesList %}
			{% if entity.type == "Definition" %}
				<li><a href="{% url 'entity' entity.id %}">{{ entity.name }}</a></li>
			{% endif %}
	    {% endfor %}
	    </ul>
	
	{% else %}
	    <p>Ваша база данных пуста. Заполните её.(</p>
	{% endif %}

{%include 'ontologySite/graph.html'%}

{% endblock %}
